.padre{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(236, 168, 208);
    
}

.hijo{
    background-color: rgb(222, 162, 248);
    color: white;
    font-size: 2rem;
    padding: 40px;
    border-radius: 12px;
}