.contenedor {
    
    flex-direction: column;
    background-color:white;
    padding:  10px;
    height: 200px;
}
.caja{
    background-color: rgb(222, 162, 248);
    color: rgb(14, 13, 13);
    font-size: 1.5rem;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
}